---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import ArticleList from '../components/ArticleList.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="doongjohn's blog">
	<main>
		<Header title="doonjohn's blog" />
		<div style={{ minHeight: '2em' }}></div>
		<ArticleList />
		<Footer />
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		flex-flow: column;
		height: 100%;

		& > .articles {
			flex: 1;
		}
	}
</style>
