---
import ArticleButton from './ArticleButton.astro'
---

<div class="articles">
	<ArticleButton title="zig is awesome." date={[2023, 4, 28]} tags={['coding', 'zig']} />
	<ArticleButton title="nim is awesome." date={[2023, 4, 28]} tags={['coding', 'nim']} />
	<ArticleButton title="odin is awesome." date={[2023, 4, 28]} tags={['coding', 'odin']} />
</div>
