---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@openfonts/nanum-gothic-coding_korean@1.44.1/index.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		/* --accent: 124, 58, 237; */
		/* --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%); */
	}
	html {
		font-family: Hack, Nanum Gothic Coding;
		margin: 0;
		padding: 0;
		background-color: #e8e8e8;
	}
	body {
		height: 100vh;
		margin: 0;
		padding: 0;
	}
	code {
		font-family: Hack, Nanum Gothic Coding, monospace;
	}
</style>
